@page "/dashboard"
@inject IRequisitionService requisitionService
@using System.Globalization

@if (reqFull == null || bestSender == null)
{
    <p><MatProgressBar Indeterminate="true"></MatProgressBar></p>
}
else
{
    <h1>Helse Sør-Øst</h1>
    <p>Dashboard som viser statistikk for Helse Sør-Øst under ett</p>
    <div class="row">
        <div class="col-xl-3 col col-lg-6 py-2">
            <RadzenCard>
                <h2>Siste 7 dager <label style="color: #28a745; position: absolute; font-size: 3rem; right: 2rem; top: 1rem">28000</label></h2>
                <RadzenChart @ref="reqChart" style="width: 100%; height: 200px">
                    <RadzenColumnSeries Stroke="#bbdefb" Fill="#455a64" Data="@reqsLastWeek" CategoryProperty="Label" Title="Rekvisisjoner" LineType="LineType.Dashed" ValueProperty="Count" />
                    <RadzenColumnOptions Radius="2" />
                    <RadzenLegend Visible="false" />
                </RadzenChart>
            </RadzenCard>
        </div>
        <div class="col-xl-3 col-lg-6 py-2">
            <RadzenCard>
                <h2>Siste 24 timer <label></label></h2>
            </RadzenCard>
        </div>
        <div class="col-xl-3 col-lg-6 py-2">
            <RadzenCard>
                <h2>Topp rekv. sendere</h2>
                <RadzenChart ColorScheme="ColorScheme.Monochrome">
                    <RadzenPieSeries Data="@topSender" Title="Antall" CategoryProperty="SenderName" ValueProperty="Antall" />
                    <RadzenLegend Visible="false" />
                </RadzenChart>
            </RadzenCard>
        </div>
        <div class="col-xl-3 col-lg-6 py-2">
            <RadzenCard>
                <h2>Topp rekv. sendere</h2>
                <RadzenChart ColorScheme="ColorScheme.Monochrome">
                    <RadzenPieSeries Data="@topReceivers" Title="Antall" CategoryProperty="LabName" ValueProperty="Antall" />
                    <RadzenLegend Visible="false" />
                </RadzenChart>
            </RadzenCard>
        </div>
    </div>
<div class="row">
    <div class="col-lg-4">
        <style>
            .demo-mat-card {
                max-width: 400px;
            }

            .demo-mat-card-content {
                padding: 1rem;
            }

            .demo-mat-card-clean-margin {
                margin: 0px;
            }
        </style>
        <MatCard class="demo-mat-card">
            <MatCardContent>
                <div class="demo-mat-card-content">
                    <MatHeadline6 class="demo-mat-card-clean-margin">
                        Rekvisisjoner idag
                    </MatHeadline6>
                    <MatSubtitle2 class="demo-mat-card-clean-margin">
                        <label style="color: #28a745; position: absolute; font-size: 3rem; right: 2rem; top: 1rem">114</label>
                    </MatSubtitle2>
                </div>

                <MatBody2 class="demo-mat-card-content demo-mat-card-clean-margin">
                    @reqToday.Count
                </MatBody2>
            </MatCardContent>
        </MatCard>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-green"><i class="fas fa-envelope"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">Messages</span>
                <span class="info-box-number">1,410</span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-green">
            <div class="inner">
                <h3>@reqToday.Count</h3>

                <p>Rekvisisjoner idag</p>
            </div>
            <div class="icon">
                <i class="fas fa-envelope"></i>
            </div>

        </div>
    </div>
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-yellow">
            <div class="inner">
                <h3>
                    @bestSender.Antall
                </h3>

                <p>
                    Topprekvirent<br />
                    HER-Id: @bestSender.SenderHerId<br />
                    @bestSender.SenderName
                </p>
            </div>
            <div class="icon">
                <i class="fas fa-user-md"></i>
            </div>

        </div>
    </div>
    <div class="col-lg-4">
        <MatCard class="demo-mat-card">
            <MatCardContent>
                <div class="demo-mat-card-content">
                    <MatHeadline6 class="demo-mat-card-clean-margin">
                        Rekvisisjoner uke @thisWeek.WeekNumber (sist aktivitet)
                    </MatHeadline6>
                    <MatSubtitle2 class="demo-mat-card-clean-margin">

                    </MatSubtitle2>
                </div>

                <MatBody2 class="demo-mat-card-content demo-mat-card-clean-margin">
                    @thisWeek.Antall
                </MatBody2>
            </MatCardContent>
        </MatCard>
    </div>
    <div class="col-lg-4">
        <MatCard class="demo-mat-card">
            <MatCardContent>
                <div class="demo-mat-card-content">
                    <MatHeadline6 class="demo-mat-card-clean-margin">
                        Topp Rekvirent
                    </MatHeadline6>
                    <MatSubtitle2 class="demo-mat-card-clean-margin">

                    </MatSubtitle2>
                </div>

                <MatBody2 class="demo-mat-card-content demo-mat-card-clean-margin">
                    HER-Id: @bestSender.SenderHerId<br />
                    @bestSender.SenderName <br />
                    Antall rekvisasjoner: @bestSender.Antall

                </MatBody2>
            </MatCardContent>
        </MatCard>
    </div>
    
</div>
<div class="row">
    <div class="col-lg-8">
        <RadzenChart ColorScheme="ColorScheme.Monochrome">
            <RadzenPieSeries Data="@topSender" Title="Antall" CategoryProperty="SenderShortName" ValueProperty="Antall" />
        </RadzenChart>
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        <MatCard class="demo-mat-card">
            
        </MatCard> 
    </div>
</div>
}

@code {
    RadzenChart reqChart;
    List<Requisition> requisitionsToday;
    List<Requisition> reqThisWeek;
    List<DataItem> reqCount = new List<DataItem>();
    List<RequisiotionFull> reqFull;
    List<TopSender> topSender;
    List<DataItem> reqsLastWeek = new List<DataItem>();
    List<TopReceiver> topReceivers;

    TopSender bestSender;
    DataItem reqToday;
    ThisWeek thisWeek;

    protected override async Task OnInitializedAsync()
    {
        //reqFull = await requisitionService.ListAllWithInfo();
        await GetReqFull();
        //requisitionsToday = await requisitionService.GetByDate(DateTime.Now.ToString("yyyy-MM-dd"));
        await ReqsToday();
        //bestSender = await requisitionService.GetTopSender();
        await GetTopSender();
        await GetReqCountsWeek();
        await GetTopReceivers();
        thisWeek = await GetReqWeek();

        reqToday = GetReqsToday(requisitionsToday);

        var reqByDate = reqFull.GroupBy(s => s.RequisitionCreatedTime).Select(g => new { Date = g.Key, Count = g.Select(l => l.Id).Distinct().Count() });

        foreach (var req in reqByDate)
        {
            var date = $"{ req.Date.Month }/{ req.Date.Day }";

            reqCount.Add(new DataItem
            {
                Label = $"{ req.Date.Month }/{ req.Date.Day }",
                Count = req.Count
            });
        }

        reqCount.ToArray();
    }

    private async Task GetTopSender()
    {
        //await Task.Delay(1);   // give the Renderer a chance to catch up
        topSender = await requisitionService.GetTopSender();
        foreach(var sender in topSender)
        {
            sender.SenderShortName = sender.SenderName.Substring(0,25).ToLower();
        }
        bestSender = topSender.FirstOrDefault();
    }

    private async Task GetTopReceivers()
    {
        //await Task.Delay(1);   // give the Renderer a chance to catch up
        topReceivers = await requisitionService.GetTopReceivers();
        foreach (var receiver in topReceivers)
        {
            receiver.LabShortName = receiver.LabName.Substring(0, 25).ToLower();
        }
    }

    private async Task ReqsToday()
    {
        //await Task.Delay(1);   // give the Renderer a chance to catch up
        requisitionsToday = await requisitionService.GetByDate(DateTime.Now.ToString("yyyy-MM-dd"));
    }

    private async Task GetReqFull()
    {
        await Task.Delay(1);   // give the Renderer a chance to catch up
        reqFull = await requisitionService.ListAllWithInfo();

    }

    private  async Task GetReqCountsWeek()
    {
        await Task.Delay(1);
        reqThisWeek = await requisitionService.ListAll();
        var reqWeek = reqThisWeek.Where(w => w.RequisitionCreatedTime >= DateTime.Now.Date.AddDays(-7)).GroupBy(s => s.RequisitionCreatedTime).Select(g => new { Label = g.Key, Count = g.Select(l => l.Id).Distinct().Count() }).OrderBy(s => s.Label);

        //reqsLastWeek
        foreach (var req in reqWeek)
        {
            //var date = $"{ req.Date.Month }/{ req.Date.Day }";

            reqsLastWeek.Add(new DataItem
            {
                Label = $"{ req.Label.Month }/{ req.Label.Day }",
                Count = req.Count
            });
        }
        reqsLastWeek.ToArray();
    }

    private async Task<ThisWeek> GetReqWeek()
    {
        reqThisWeek = await requisitionService.ListAll();
        var reqWeek = reqThisWeek.GroupBy(i => CultureInfo.CurrentCulture.Calendar.GetWeekOfYear(i.RequisitionCreatedTime, CalendarWeekRule.FirstDay, DayOfWeek.Monday)).Select(g => new { Label = g.Key, Count = g.Select(l => l.Id).Distinct().Count() }).OrderByDescending(s => s.Label).FirstOrDefault();

        ThisWeek thisWeek = new ThisWeek();
        if (reqWeek.Count != 0)
        {
            thisWeek.Antall = reqWeek.Count;
            thisWeek.WeekNumber = reqWeek.Label;
        }
        else
        {
            thisWeek.Antall = 0;
            thisWeek.WeekNumber = 0;
        }
        return thisWeek;
    }

    private DataItem GetReqsToday(List<Requisition> requisitions)
    {
        var todayReq = requisitions.GroupBy(g => g.RequisitionCreatedTime.Date).Select(s => new { Date = s.Key, Count = s.Count() });

        DataItem today = new DataItem();
        if (todayReq.Count() != 0)
        {
            today.Count = todayReq.FirstOrDefault().Count;
            today.Label = todayReq.FirstOrDefault().Date.ToString();
        }
        else
        {
            today.Count = 0;
            today.Label = DateTime.Now.ToString("yyyy-MM-dd");
        }

        return today;
    }

    // INTERNAL CLASSES

    public class DataItem
    {
        public string Label { get; set; }
        public int Count { get; set; }
    }

    public class BestSender
    {
        public int HerId { get; set; }
        public string SenderName { get; set; }
        public int Count { get; set; }
    }


}